<nav class="navbar navbar-inverse navbar-expand-lg">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">PPHealthCare</a>
        </div>
        
        <ul class="nav navbar-nav navbar-right">

            <a [routerLink]="'/main'"><button  class="btn btn-primary " type="button">View Enrollees</button></a>
            <a [routerLink]="'/register'" style="margin-left: 1rem;"><button class="btn btn-primary " type="button">Register</button></a>

        </ul>
    </div>
</nav>
